{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Simple Hero -->
<div class="hero-text">
    <h1>let the drawing explain.</h1>
    <p>Simple, reliable video meetings for everyone.</p>
    
    {% if user.is_authenticated %}
        <div class="mt-4">
            <a href="{% url 'create_room' %}" class="btn btn-primary btn-lg me-2">
                Start Meeting
            </a>
            <a href="{% url 'calendar' %}" class="btn btn-outline-primary btn-lg">
                Schedule
            </a>
        </div>
    {% else %}
        <div class="mt-4">
            <a href="{% url 'register' %}" class="btn btn-primary btn-lg me-2">
                Get Started
            </a>
            <a href="{% url 'login' %}" class="btn btn-outline-primary btn-lg">
                Sign In
            </a>
        </div>
    {% endif %}
</div>
</br></br>


<!-- Conference Phrases -->
</br></br>
<!-- Simple Features -->


<!-- Simple Call to Action -->

{% endblock %}